<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log" config="config/log4j.xml" />
  </configSections>
  <!-- 定義 -->
  <appSettings>
    <add key="infilepath" value="data/" />
    <add key="infiletype" value="json" />
    <add key="outdir" value="data/output" />
    <add key="separator" value="\t" />
    <add key="quotation" value="false" />
    <add key="titleline" value="false" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v1.0" sku="jdk1.8"/>
  </startup>
</configuration>
