<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log" config="config/log4j.xml" />
  </configSections>
  <!-- 定義 -->
  <appSettings>
    <add key="SMTP_HOST" value="" />
    <add key="PORT" value="587" />
    <add key="SEND_ACCOUNT" value="" />
    <add key="SEND_PWD" value="" />
    <!-- 0: SSL使用しない 1: SSL使用する -->
    <add key="SSL_FLAG" value="1" />
    <add key="SF_LOGIN_ID" value="false" />
    <add key="SF_LOGIN_PWD" value="false" />
    <add key="LIMIT_SIZE" value="1" />
    <!-- 0: Local 1: Cloud -->
    <add key="MODE" value="0" />
    <add key="RETRY_CNT" value="3" />
    <add key="WAIT_SECONDS" value="60" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v1.0" sku="jdk1.8"/>
  </startup>
</configuration>
